<style>
  .card {height: 350px; width: 560px; margin-bottom: 20px;}
  .card-body { text-align: center; padding:30px;}
  .card-title { margin-bottom: 30px; margin-top:0; text-transform: uppercase;}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <h3 class="card-title text-primary">Transportation</h3>
          <p class="card-text">The ability to transport oneself in a certain way that surpasses the natural human transport capacity
            (walking, climbing, swimming, etc...) Some mutants have natural abilities to do so, like flyiers and teleporters,
            while others can use their abilities in a certain way that allow themselves to move efficiently. Azazel is a mutant with the ability of transportation through teleport.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <h3 class="card-title text-primary">Body Transform</h3>
          <p class="card-text">The ability to transform oneself body can have many different results, some can use this as a kind of armor
            resulting in a skin made of a resistant material like metal or diamond. There are also mutants who have metamorphosis
            related abilities which allow themselves to transform it's own cells in some way, Mystique can use this to
            have the apparence of any human that she wants. It also includes mutants with adaptative evolution powers, elasticity,
            and more...</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <h3 class="card-title text-primary">Mental</h3>
          <p class="card-text">Mental abilities includes many different forms of using oneself mind power, it's main sub-genres are
            Telekinesis(ability to move and manipulate objects), Telepathy (ability to communicate with others, read their minds, etc).
            Magneto has a very special kind of power that enables him to control magnetism with his mind in many different ways,
            making him very powerful.</p>
          </div>
        </div>
      </div>
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <h3 class="card-title text-primary">Bone Protusions</h3>
          <p class="card-text">It includes powers to grow long razor sharps in forms of claws from their own hand bones. Sabretooth has razor sharp teeth
            capable of ripping through flesh and bone. This is highly related to Body Transformation, and the belonging of many powers can be debated between these categories.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-primary">
          <div class="card-body">
            <h3 class="card-title text-primary">Unique Physiology</h3>
            <p class="card-text">These are physical characteristics related to the body and appearance of mutant,
              unlike body transformation, because it's not related to any transforming skill, it's bound and is inherently
              part of the mutant body. Toad is a mutant with a lizard-like tongue that gives him many powers.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-primary">
          <div class="card-body">
            <h3 class="card-title text-primary">Energy Manipulation</h3>
            <p class="card-text">The ability to manipulate energy in any of its forms, it includes skills related to blasts, explosions, shockwaves,
              force fields, self detonation, etc... Shaw is a mutant that will absorb energy and use it to enhance his own powers and abilities.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-primary">
          <div class="card-body">
            <h3 class="card-title text-primary">Contact Based</h3>
            <p class="card-text">Powers that are trigerred through physical contact between the mutant and the environment, it also includes
              contact made with people or even another mutant. Phasing is one of the most known powers of this genre, it
              can be described as the ability to pass through solid walls and objects, can also be used in a defensive way
              to avoid being hit by projectiles for example. Rogue is a mutant who can absorb lifeforce from a person or a mutant while
              touching them.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-primary">
          <div class="card-body">
            <h3 class="card-title text-primary">Elemental Abilities</h3>
            <p class="card-text">Mutants who can control in some way the main natural elements (fire, water, air, earth) and some other related matters
              like weather, electricity, wood, stone. Some can generate the elements by their own will, while others can only manipulate and control
              pre-existant material. Iceman is a mutant who can control, guess what, ice. This is highly related to energy manipulation. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-primary">
          <div class="card-body">
            <h3 class="card-title text-primary">Superhuman Attributes</h3>
            <p class="card-text">Attributes related to natural human abilities are augmented in a way that concedes supernatural
              powers to the mutant. Wolverine is one of the greatest examples of this, with many enhanced physical attributes.
              These are related to speed, strength, agility, dexterity, durability, stamina, reflexes, self-healing, etc...</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h3 class="card-title" style="text-transform: none;">Below you can see slides with examples of mutants and the categories which some of their powers are connected to.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

