<div class="jumbotron w-100 py-5 mx-auto">
	<h1>X-men Power Wiki</h1>
	<h4 style="margin-bottom:15px;">Simple classification for mutant powers!</h4>
	<p class="lead">
    Have you ever thought about a classification for all the different kinds of x-men powers? Here goes below a simple one
    based on 9 groups.
	</p>
  <p class="lead">
    Below the classification, there is a <a href='https://vbazuke.github.io/x-men-wiki-angular/index.html#carousel-slide'>carousel slide</a> showing examples with mutants, and some of the categories their powers are related to!
	</p>
</div>
